@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  background-color: #fbfbfb;
  height: 100%;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

/* .work-sans-<uniquifier> {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 100-900;
  font-style: normal-italic;
} */

@keyframes stroke {
  0% {
      stroke-dasharray: 0, 100%;
      stroke-dashoffset: 100%;
  }
  100% {
      stroke-dasharray: 100%, 0;
      stroke-dashoffset: 0;
  }
}

.stroke-animation {
  stroke: black !important; /* Ensure stroke color is applied */
  stroke-width: 1px !important; /* Ensure stroke width is applied */
  fill: none !important; /* Ensure the path is not filled */
  stroke-dasharray: 100% !important; /* Initially hide the stroke */
  stroke-dashoffset: 100% !important; /* Initially offset the stroke */
  animation: stroke 3s ease-in-out forwards !important; /* Animate stroke */
}

@font-face {
  font-family: 'Gentle';
  src: url(./assets/MadeGentle.otf) format('opentype');
}

@font-face {
  font-family: 'Kollektif';
  src:  url('/assets/Kollektif.woff2') format('woff2'),
        url('/assets/Kollektif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kollektif';
  src: url('/assets/Kollektif-Italic.woff2') format('woff2'),
        url('/assets/Kollektif-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Kollektif';
  src: url('/assets/Kollektif-BoldItalic.woff2') format('woff2'),
        url('/assets/Kollektif-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Kollektif';
  src: url('/assets/Kollektif-Bold.woff2') format('woff2'),
        url('/assets/Kollektif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


.triangle-red {
  width: 500px;
  height: 207px;
  background-color: #DB6232;
  opacity: 0.29;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: absolute;
  offset-path: path("M379.796 0L500.663 207H0L379.796 0Z");
  offset-distance: 0%;
}

.triangle-green {
  width: 473px;
  height: 1000px;
  background-color: #AFDA54;
  opacity: 0.44;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: absolute;
  offset-path: path("M473 0V1000H0L473 0Z");
  offset-distance: 0%;
}

.triangle-blue {
  width: 2000px;
  height: 677px;
  background-color: #B7EDD2;
  opacity: 0.51;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: absolute;
  offset-path: path("M2000 0V677L0 0H2000Z");
  offset-distance: 0%;
}