@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  width: 100%;
  background-color: #ECE8E7;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

/* .work-sans-<uniquifier> {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 100-900;
  font-style: normal-italic;
} */

@keyframes stroke {
  0% {
      stroke-dasharray: 0, 100%;
      stroke-dashoffset: 100%;
  }
  100% {
      stroke-dasharray: 100%, 0;
      stroke-dashoffset: 0;
  }
}

.stroke-animation {
  stroke: black !important; /* Ensure stroke color is applied */
  stroke-width: 1px !important; /* Ensure stroke width is applied */
  fill: none !important; /* Ensure the path is not filled */
  stroke-dasharray: 100% !important; /* Initially hide the stroke */
  stroke-dashoffset: 100% !important; /* Initially offset the stroke */
  animation: stroke 3s ease-in-out forwards !important; /* Animate stroke */
}

